.start-chat-container {
    padding-top: 70px;
    position: relative;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-image: linear-gradient(45deg, rgb(92, 73, 227), rgb(68, 135, 227), rgb(34, 177, 196));
    min-height: 1000px;
}

.start-chat-form {
    margin: 70px 30% 0 30%;
    
}

.create-chat-button {
    border-radius: 40px;
    background-color: royalblue;
    padding: 20px 40px;
    margin: 8px 4px;
    font-size: 25px;
    cursor: pointer;
    color: #eaeaea;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: inline-block;
    width: 100%;
}

.create-chat-button:hover {
    background-color: #eaeaea;
    color:royalblue;
}

.form input {

}