@model EasyTalkWeb.Models.ViewModels.ChatViewModels.ChatPreviewViewModel

<a class="button-wrapper"
    data-chat-id="@Model.ChatId">
    <div class="chat-preview">
        <div class="chat-title">@Model.Name</div>
        @if (Model?.LastMessage?.Length < 6)
        {
            <div class="chat-last-msg">last message: @Model.LastMessage</div>
        } else
        {
            <div class="chat-last-msg">last message: @Model?.LastMessage?.Substring(0, 5)...</div>
        }
    </div>
</a>