<div class="fullscreen">
    <div class="fullscreen-body">
        <h1 class="fullscreen-title">Welcome to EasyTalk!</h1>
        <div class="fullscreen-text">Convenient Communication and Developement</div>
        <div class="more">
            <p>Learn more about us</p>
            <div class="icon">
                <div class="icon-wrapper">
                    <div class="mouse-icon">
                        <span class="arrow arrow-01"></span>
                        <span class="arrow arrow-02"></span>
                        <span class="arrow arrow-03"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="content-body">
        <p>
            Additional content 
        </p>
    </div>
</div>
<footer class="footer">
    <div class="footer-body">
        Lorem ipsum dolor sit amet
    </div>
</footer>