@using Microsoft.AspNetCore.Identity
@inject SignInManager<Person> SignInManager
@inject UserManager<Person> UserManager
@model EasyTalkWeb.Models.ViewModels.ProposalRequest
@{
}

<div class="container py-5">
    <form method="post">

        <div class="mb-3">
            <label class="form-label">Title</label>
            <input type="text" class="form-control" id="heading" asp-for="Title" />
        </div>


        <div class="mb-3">
            <label class="form-label">Text</label>
            <textarea class="form-control" id="content" asp-for="Text"></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">Technologies</label>
            <select class="form-select" asp-for="SelectedTech">
                <option value="">Select Technologies </option>
                @foreach (var tech in Model.Technologies)
                {
                    <option value="@tech.Id">@tech.Name</option>
                }
            </select>
        </div>


        <div class="mb-3">
            <button type="submit" class="btn btn-dark">
                Save
            </button>
        </div>


    </form>
</div>