@model List<EasyTalkWeb.Models.Proposal>
<link rel="stylesheet" href="~/css/proposal.css" />

<div class="container-proposals">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr class="table-titles">
                    <td>Title</td>
                    <td>Text</td>
                    <td>Technologies</td>
                    <td> </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var proposal in Model)
                {
                    <tr>
                        <td class="list-text-item">@proposal.Title</td>
                        <td class="list-text-item">@proposal.Text</td>
                        <td>
                            <div class="list-technologies">
                                @foreach (var tech in proposal.Technologies)
                                {
                                    <span class="badge bg-secondary me-1">@tech.Name</span>
                                }
                            </div>
                        </td>
                        <td>
                            <a class=" button-proposal"
                                asp-area=""
                               asp-controller="Proposal"
                               asp-action="Edit"
                               asp-route-id="@proposal.Id">
                                Edit
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No proposals Found!</p>
    }

</div>