@{
    ViewData["Title"] = "ConfirmEmail";
}
<link rel="stylesheet" href="../css/base.css" />
<div class="container">
    <h1 style="color:#eaeaea; padding-top:50px; font-size:30px">Confirm your email</h1>
</div>

