@{
    ViewData["Title"] = "ConfirmEmail";
}
<link rel="stylesheet" href="../css/base.css" />
<div class="container-base">
    <h1 style="color:#eaeaea; padding-top:50px; font-size:30px">Email Confirmed</h1>
    <p style="color:#eaeaea;  font-size:17px">
        Thank you for confirming your email.
    </p>
</div>

