@using Microsoft.AspNetCore.Identity
@inject UserManager<Person> userMnager
@{
    var users = userMnager.Users.ToList();
}
<link rel="stylesheet" href="~/css/chat.css" />
<div class="chat-container">
    <div id="user-name">@TempData["CurrentUsername"]</div>
    <ul class="row">
        @foreach(var user in users)
        {
            if (user.ToString() != TempData["CurrentUsername"].ToString())
            {
                <label>
                    <input type="radio" name="selectedUser" value="@user" />
                    <span class="receiver">@user</span>
                </label>
            }
        }
    </ul>
    <div class="chat-body">
        <div class="message-list">
            <div class="message incoming">
                <div class="message-sender"></div>
                <div class="message-content">woooooooooooooowwwww</div>
            </div>
            <div class="message incoming">
                <div class="message-sender"></div>
                <div class="message-content">woooooooooooooowwwww</div>
            </div>
            <div class="message">
                <div class="message-sender"></div>
                <div class="message-content">woooooooooooooowwwww</div>
            </div>
            <div class="message incoming">
                <div class="message-sender"></div>
                <div class="message-content">woooooooooooooowwwww</div>
            </div>
            <div class="message">
                <div class="message-sender"></div>
                <div class="message-content">woooooooooooooowwwww</div>
            </div>
            <div class="message">woooooooooooooowwwww</div>
            <div class="message incoming">woooooooooooooowwwww</div>
            <div class="message">woooooooooooooowwwww</div>
        </div>
        <form action="/submit-chat" method="POST" enctype="multipart/form-data">
            <input type="text" id="message" name="message" placeholder="message">
            <input type="file" id="file" name="file">
            <button type="submit" value="Send">Send</button>
        </form>
    </div>
</div>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
