<div style="text-align: center;">
        <p>Such user already exists, please use your credentials.</p>
        <p>Go to Login: </p>
        <a class="btn btn-dark" asp-controller="Login" asp-action="Login">Login</a>
        </div>

