<link rel="stylesheet" href="../css/base.css" />

<div class="container">
        <p>Such user already exists, please use your credentials.</p>
        <p>Go to Login: </p>
        <a class="button-style" asp-controller="Login" asp-action="Login">Login</a>
        </div>

