@model EasyTalkWeb.Models.ViewModels.ForgotPasswordViewModel
<link rel="stylesheet" href="../css/base.css" />

<div class="container">
    <form asp-controller="Login" asp-action="ForgotPassword" method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="mb-3">
            <label class="form-label" asp-for="Email"></label>
            <input type="email" class="form-control" required asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <button class="btn btn-dark" type="submit">Submit</button>
    </form>

</div>