@model EasyTalkWeb.Models.ViewModels.ForgotPasswordViewModel
<link rel="stylesheet" href="../css/base.css" />

<div class="container-base">
    <form asp-controller="Login" asp-action="ForgotPassword" method="post" style="margin: 10% 20% 0 20%;">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="mb-3">
            <label class="form-label" asp-for="Email"></label>
            <input type="email" class="form-control" required asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <button type="submit">Submit</button>
    </form>

</div>