@model EasyTalkWeb.Models.ViewModels.ResetPasswordViewModel
<link rel="stylesheet" href="../css/base.css" />

<div class="container"> 
    <form asp-controller="Login" asp-action="ResetPassword" method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <input type="hidden" asp-for="Token" />
        <input type="hidden" asp-for="Email" />
        <div class="mb-3">
            <label class="form-label" asp-for="Password"></label>
            <input type="password" class="form-control" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="ConfirmPassword"></label>
            <input type="password" class="form-control" asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <button type="submit">Reset Password</button>
    </form>
</div>
